.content-gallery{
  padding-bottom: 30px;

  img{
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
  }
  
  p{
    margin: 0;
    color: $fondo;
  } 
}

.content-gallery-I{
  width: 50%;
  float: left;
}

.content-gallery-II{
  width: 50%;
  float: right;
}

.content-parrafo{
  padding: 60px 0 62px 0;
  background-color: coral; 
  p{
    padding:0 70px 0 40px;
  } 
}

#color01{
  background-color: $box-colo01;
  p{
    text-align: right;
  }
}

#color02{
  background-color: $box-colo02;
  p{
    text-align: right;
  }
}

#color03{
  background-color: $box-colo03;
  p{
    text-align: left;
  }
}

#color04{
  background-color: $box-colo04;
  p{
    text-align: left;
  }
}

.link{
  background-color:$link-color;
  margin: 0 auto;

  &:hover{
    background-color: $link-color-hover;
  }
}