.footer{

  p{
    float: left;
    font-size: 0.8rem;
    padding: 0;
    
    a{
      color: $primary-color;
      font-size: 0.8rem;
    }
  }


}

.footer-redes{
  width: 18.5%;
  float: right;

  li{
    float: left;
  }
  
  li + li{
    margin-left: 15%;
  }
}