html{
  font-size: $size;
}

body{
  background-color: $fondo;
  font-family: sans-serif;
}

.image{
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

li{
  list-style: none;
}

h1{
  margin: 0;
  padding: 71px 0 0;
  text-align: center;
  color: $color-titles;
  font-weight: lighter;
}

h2{
  margin: 0;
  padding: 71px 0 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: lighter;
  color: $color-titles;
}

p{
  font-size: 1rem;
  margin-bottom: 26px;
  padding: 0 76px 0 78px;
  text-align: center;
  color: $primary-color;
  
  a{
    color: $link-color;
    text-decoration: underline;
  }
}

