.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.main-wrapper {
  max-width: 600px;
  margin: 0 auto; 
}

.content-container{
  width: 83.3%;
  margin: 0 auto;
}

.link{
  margin: 0 auto;
  width: 22.33%;
  padding: 14px 28px;
  border-radius: 5px;
  text-align: center;
  a{
    color: #f8f9fb;
    text-transform: uppercase;
  }
}
