.gallery{
  background-color: $fondo02;
  float: left;
  padding-bottom: 70px;
  margin-bottom: 30px;

  h2{
    color: $button-view;
  }

  .gallery-photos{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;

    img + img {
      margin-left: 1.6%;
    }
  }

  .space{
    margin-bottom: 30px;
  }

  .link{
    background-color: $button-view;
    a{
      color: $color-titles;
    }
  }
}