$fondo:#eaeced;
$fondo02: #333c4d;
$size: 16px;
$color-titles: #000000;
$primary-color: #888888;
$link-color: #40aceb;
$link-color-hover: #3190c7;
$button-view:#f9f9f9;
$button-view-hover:#d8d1d1;
$button:#e02d74;
$link01: #7bb84f;
$link01-hover: #60943a;
$link02:#f5ba1c;
$link02-hover:#eeb416;
