$fondo:#eaeced;
$fondo02: #333c4d;
$size: 16px;
$color-titles: #000000;
$primary-color: #888888;
$link-color: #40aceb;
$link-color-hover: #3190c7;
$button-view:#f9f9f9;
$button-view-hover:#4e4e4e;
$button:#e02d74;
$button-hover:#ca2265;
$link01: #7bb84f;
$link01-hover: #60943a;
$link02:#f5ba1c;
$link02-hover:#e0aa14;
$box-colo01:#a4d3f3;
$box-colo02:#76b3dd;
$box-colo03: #0071bd;
$box-colo04: #333c4d;
